<div class="form">
    <mat-form-field floatLabel="auto" appearance="fill">
      <mat-label id="label">Project</mat-label>
      <input [value]="projectName === undefined ? '': projectName" matInput readonly>
    </mat-form-field>
    <button type="button" mat-icon-button color="primary" (click)="getProjectList()">
      <i class="material-icons">
          search
      </i>
    </button>
      Sort: &nbsp;&nbsp;&nbsp;
      <button mat-button id="btn_select">Start Date</button>&nbsp;&nbsp;&nbsp;
      <button mat-button id="btn_select">End Date</button>&nbsp;&nbsp;&nbsp;
      <button mat-button id="btn_select">Priority</button>&nbsp;&nbsp;&nbsp;
      <button mat-button id="btn_select">Completed</button>
</div>
<mat-divider></mat-divider>
<div *ngIf="isSearch">
<div *ngFor="let task of searchTasks">
    <div *ngIf="task">
        <table id="tasktable">
            <thead>
              <tr>
                <th>Task</th>       
                <th>Parent</th>
                <th>Priority</th>
                <th>Start</th>
                <th>End</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody  id="tasks" align="center">          
              <tr>
                <td>
                   <mat-card class="card">{{task.taskName}}
                    </mat-card>
                </td>
                              
                <td>
                   <mat-card class="card">{{((task.parentName) ? task.parentName : 'NO Parent')}}
                   </mat-card>
                </td>             
                <td>{{task.priority}}</td>
                <td>{{task.startDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{task.endDate | date: 'dd/MM/yyyy'}}</td>
                <td>
                  <button *ngIf="task.status != 'complete'" id="btn_edit" mat-icon-button color="accent" [disabled]="task.status === 'complete'">
                    <a [routerLink]="['edit',task.taskId]">
                      Edit</a>
                  </button>
                  <button *ngIf="task.status === 'complete'" id="btn_edit" mat-icon-button color="accent" [disabled]="task.status === 'complete'">
                        Edit
                    </button>&nbsp;&nbsp;&nbsp;
                  <button mat-icon-button color="accent" id="btn_delete" (click)="endTask(task.taskId, task.taskName, task.projectName,
                  task.parentName, task.priority, task.startDate, task.endDate, task.userName)" [disabled]="task.status === 'complete'">
                    End
                  </button>
                </td>
                
              </tr>
            </tbody>
                
            <mat-divider></mat-divider>
        </table>    
    </div>
</div>
</div>
<div *ngIf="!ifResult">
    <p align="center">No Tasks Found</p> 
</div>
<div *ngIf="!isSearch">
  <p id="searchResult" align="center">Select Project</p> 
</div>
