<br />
<div class="form">
    <mat-form-field floatLabel="auto" id="label">
        <input matInput type="text" placeholder="Search..." autocomplete="off">
    </mat-form-field>
    Sort: &nbsp;&nbsp;&nbsp;
    <button mat-button id="btn_edit" (click)="doSortFirstName()">First Name</button>&nbsp;&nbsp;&nbsp;
    <button mat-button id="btn_edit">Last Name</button>&nbsp;&nbsp;&nbsp;
    <button mat-button id="btn_edit">Id</button>
</div>
<mat-divider></mat-divider>
<div *ngFor="let user of users">
    <div *ngIf="user">
        <div>
            <br />
            <div>
                <label id="userFont">First Name: </label>{{user.firstName}}
            </div>
            <br />
            <div>
                <label id="userFont">Last Name: </label>{{user.lastName}}
            </div>
            <br />
            <div>
                <label id="userFont">Employee ID: </label>{{user.empId}}
            </div>
        </div>
        <br />
        <div>
            <button mat-button id="btn_edit">Edit</button>&nbsp;&nbsp;&nbsp;
            <button mat-button id="btn_delete" (click)="onDelete(user.userId,user.firstName,user.lastName,user.empId)">
                Delete</button>
        </div>
    </div>    
    <br />
    <mat-divider></mat-divider>
</div>

