<div class="container">
        <form [formGroup]="projectForm">
            <div class="form">
                <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
                    <mat-label id="label">Project</mat-label>
                    <input formControlName="projectName" matInput autocomplete="off" >
                    <mat-error *ngIf="!projectForm.get('projectName').valid && projectForm.get('projectName').touched">
                        Required field
                    </mat-error>
                </mat-form-field>
            </div>
            <mat-checkbox id="check-box" formControlName="ifSetDate" (click)="onClick()">
                    Set Start and End Date
            </mat-checkbox>
            <br />
            <div class="form">
                <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
                    <mat-label id="label">Start Date</mat-label>
                    <input formControlName="startDate" [disabled]="!ifSetDate" matInput [matDatepicker]="picker1"
                        autocomplete="off" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 ></mat-datepicker>
                </mat-form-field>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
                    <mat-label id="label">End Date</mat-label>
                    <input formControlName="endDate" [min]="projectForm.value.startDate" [disabled]="!ifSetDate"
                      matInput [matDatepicker]="picker2" autocomplete="off" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>

            <div class="form"> 
                <mat-label id="label">Priority</mat-label>
                <mat-slider
                  class="slider-margin"
                  [max]="max"
                  [min]="min"
                  [step]="step"
                  [thumbLabel]="thumbLabel"
                  formControlName="priority"
                  [vertical]="vertical">
                </mat-slider>
            </div>

            <div class="form">
                <mat-form-field floatLabel="auto" appearance="fill">
                    <mat-label id="label">Manager</mat-label>
                    <input formControlName="userName" matInput [value]="project.userName === undefined ? '': project.userName" readonly autocomplete="off">
                </mat-form-field>
                <button type="button" mat-icon-button color="primary" (click)="getUserList()">
                    <i class="material-icons">
                        search
                    </i>
                </button>
            </div>

            <button mat-button id="btn_save" [disabled]="!projectForm.valid" (click)="onSubmit()">Add</button>&nbsp;&nbsp;&nbsp;
            <button mat-button id="btn_reset" (click)="onReset()">Reset</button>
        </form>
</div>
<br />
<mat-divider></mat-divider>
<div class="viewContainer">
    <view-project [projects]="projects"></view-project>
</div>