<div class="container">
    <form [formGroup]="userForm">
        <div class="form">
            <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
                <mat-label id="label">First Name</mat-label>
                <input formControlName="firstName" matInput autocomplete="off" >
                <mat-error *ngIf="!userForm.get('firstName').valid && userForm.get('firstName').touched">
                    Required field
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
                <mat-label id="label">Last Name</mat-label>
                <input formControlName="lastName" matInput autocomplete="off" >
                <mat-error *ngIf="!userForm.get('lastName').valid && userForm.get('lastName').touched">
                    Required field
                </mat-error>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
                <mat-label id="label">Employee ID</mat-label>
                <input formControlName="empId" matInput autocomplete="off" >
                <mat-error *ngIf="!userForm.get('empId').valid && userForm.get('empId').touched">
                    Required field
                </mat-error>
            </mat-form-field>
        </div>

        <button mat-button id="btn_save" [disabled]="!userForm.valid" (click)="onSubmit()">Save</button>
        <button mat-button id="btn_save" (click)="onReset()">Reset</button>
    </form>
</div>

<mat-divider></mat-divider>
<div class="viewContainer">
    <div *ngFor="let u of users">
            <view-user [user]="u"></view-user>
    </div>
</div>